numpy
pandas
boto3
python-docx
fastapi[all]
uvicorn[standard]
pydantic
python-dotenv
requests_toolbelt
sqlmodel
psycopg2-binary==2.9.9
mangum
# psycopg[binary]      # The modern v3 driver
# psycopg-pool         # The connection pool for v3
